.laps {
    margin: 1rem;
}
tr {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    margin: 0.7rem 0;
}
tr > *:first-child {
    min-width: 6rem;
    text-align: left;
}
th {
    color: #ef2f3c;
    font-size: 18px;
}
td {
    color: white;
    font-size: 17px;
    font-weight: 300;
}
