@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    background-color: hsl(209, 61%, 16%);
}

.app {
    min-height: 95vh;
    display: grid;
    place-content: center;
    letter-spacing: 5px;
}

.app h1 {
    text-align: center;
    color: white;
    font-size: 3rem;
    margin-bottom: 2rem;
}
.btns-container {
    text-align: center;
}
button {
    background-color: transparent;
    color: white;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    outline-width: 0;
    border: 2px solid #ef2f3c;
    border-radius: 5px;
    padding: 0.37rem 0.8rem;
    margin: 0.5rem;
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 3px;
    cursor: pointer;
    transition: all 0.1s linear;
}
button:hover {
    background-color: #ef2f3c;
}
