@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    background-color: hsl(209, 61%, 16%);
}

.app {
    display: grid;
    place-content: center;
    letter-spacing: 5px;
    margin-top: 4rem;
}

.app h1 {
    text-align: center;
    color: white;
    font-size: 3rem;
    margin-bottom: 2rem;
}

@media all and (min-width: 700px) {
    .app {
        margin-top: 8rem;
    }
}
